body{
    background: url('../background.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.upload{
    border: 1px solid black;
    background: white;
    border-radius: 10px;
    top: 20vh;
    margin: 0 auto;
    position: relative;
    height: 20vh;
    padding: 10px;
}
